* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0a1a6f;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.nav-links .primary-btn {
    margin-left: 10px;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Search */
.search-section {
    margin-top: 80px;
    text-align: center;
}

.search-section input {
    padding: 8px;
    width: 200px;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 280px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Button */
.primary-btn {
    background: #0a74ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.primary-btn:disabled {
    background: gray;
    cursor: not-allowed;
}

/* Form */
form {
    max-width: 300px;
    margin: auto;
}

form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

/* Footer */
.footer {
    background: #111;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
}

/* Go Top */
#goTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    border: none;
    background: red;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
    .nav-links {
         background-color: #0b1d78;
         min-height: calc(100vh - 60px);
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #0a1a6f;
        flex-direction: column;
        width: 200px;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}
